*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body{
    width: 867px;
    margin: 0 auto;
    color: #666666;
    background: #2c383e url(../images/bgindex.jpg) repeat-x;
}
.header{
    width: 867px;
    height: 323px;
}
.header embed{
    width: 867px;
    height: 323px;
}
.nav{
    width: 867px;
    height: 51px;
}
.nav ul{
    list-style-type: none;
    height: 51px;
    line-height: 51px;          /*导航项中的文本垂直居中*/     
    text-align: center;         /*导航项中的文本水平居中*/
    background-image: url(../images/linkbg.jpg);
    background-repeat: repeat;
}
.nav ul li{
    /*li中内容的居中已经在 .nav ul 中实现*/
    float: left;
    width: 124px;
    background-image: url(../images/linkr.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
ul li.last_li{
    width: 123px;
    background-image: none;
}
.nav ul li a{
    display: inline-block;
    height: 51px;
    width: 123px;
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: yellow;
    text-decoration: underline;
}

.footer{
    clear: both;
    width: 867px;
    height: 110px;
    background: url(../images/footer1.gif) repeat-y;
}
.footer img{
    margin-top: 10px;
}
.footer p{
    text-align: right;
    font-size: 80%;
    margin-right: 20px;
}